@import '../../scss/variables';

.card {
  width: 420px; 
  border: 2px solid $yellow;

  .card__title {
    width: 100%;
    background: $yellow;
    color: $black;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-weight: 700;
  }

  .card__row {
    text-align: left;
    padding: 4px 16px;

    span{
      position: relative;
      display: inline;
      text-align: left;   
    }

    span:first-child{
      font-weight: $font-extrabold;
      color: $red;
    }
  }

  .card__footer{
    box-sizing: border-box;
   padding: 16px 0;
  }
}